.vcard {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.vcard > div {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}

.vcard > div h1 {
  font-size: 36px;
  margin: 0;
}

.vcard p {
  font-size: 0.9rem;
  margin-top: 0;
}

.vcard .links {
  flex-direction: row;
  font-size: 2.5rem;
  width: 100%;
}
