.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea {
  border: none;
  border-bottom: 2px solid black;
  padding: 0.5rem 0.25rem;
  flex: 1;
  margin: 0.5rem;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: deepskyblue;
}

.form textarea {
  height: 100px;
}

.form .reply-to {
  display: flex;
  flex-direction: row;
}

.form .reply-to input[type=tel] {
  flex: 0.5;
}

button {
  align-self: flex-end;
  border: 1px solid gray;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  font-size: 1.25rem;
  margin: 0.5rem;
  padding: 20px;
  width: 124px;
  transition: 0.25s ease-in-out;
}

button .fa {
  padding-left: 4px;
}

button.primary {
  background-color: #03A678;
  border-color: #26A65B;
}

button.primary:hover {
  background-color: #16A085;
  box-shadow: 0 5px 15px rgba(0, 100, 66, .4);
  color: rgba(255, 255, 255, 1);
}

button.primary:focus {
  outline: none;
  box-shadow: #16A085
}

