* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 20px;
  font-family: Lato, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lustria, serif;
}

main {
  margin: 1rem;
}

.sidebar {
  margin: 1rem;
  width: 350px;
}
