.print-only {
  display: none !important;
}

@media print {
  * {
    background-color: unset !important;
  }

  a {
    color: black !important;
    text-decoration: underline !important;
  }
  a[href^="/"] {
    text-decoration: none !important;
  }

  a[href^="http"]:before {
    content: attr(title) !important;
    display: inline !important;
  }

  a[href^="http"]:after {
    content: ' [' attr(href) ']' !important;
    display: inline !important;
  }

  .print-only {
    display: block !important;
  }

  .print-hidden {
    display: none !important;
  }

  .print-no-spacing {
    margin: 0 !important;
    padding: 0 !important;
    height: unset !important;
    min-height: unset !important;
  }

  .print-no-decoration {
    border: none !important;
    box-shadow: none !important;
  }

  .dated-resume-section {
    display: block !important;
  }
}
